<h3 *ngIf="!update" mat-dialog-title>Create User</h3>
<h3 *ngIf="update" mat-dialog-title>Update User</h3>
<mat-dialog-content>
  <mat-form-field>
    <input [(ngModel)]="user.mobile" [formControl]="mobileFormControl" matInput
           placeholder="Mobile" type="number"/>
    <mat-error *ngIf="mobileFormControl.invalid">{{getErrorMessageMobile()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.username" [formControl]="usernameFormControl" matInput
           placeholder="Username" type="text"/>
    <mat-error *ngIf="usernameFormControl.invalid">{{getErrorMessageUsername()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.email" [formControl]="emailFormControl" matInput
           placeholder="Email" type="email"/>
    <mat-error *ngIf="emailFormControl.invalid">{{getErrorMessageEmail()}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.dni" matInput placeholder="DNI"
           type="text"/>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="user.address" matInput placeholder="Address"
           type="text"/>
  </mat-form-field>
  <mat-form-field *ngIf="update">
    <mat-label>Active</mat-label>
    <mat-select [(value)]="active">
      <mat-option value="true">True</mat-option>
      <mat-option value="false">False</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button>Cancel</button>
  <button (click)="createUser()" *ngIf="!update" [disabled]="invalidUser()" color="primary" mat-raised-button>Create
  </button>
  <button (click)="updateUser()" *ngIf="update" [disabled]="invalidUser()" color="primary" mat-raised-button>Update
  </button>
</mat-dialog-actions>
